.menber-cont {
  margin-top: 80px;
  padding-top: 200px;
  background-image: url('/images/vip-banner.png');
  background-repeat: no-repeat;
}
.menber-cont__introduce {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.menber-cont__introduce-item {
  background: #ffffff;
  box-shadow: 0px 1px 6px 2px rgba(50, 30, 9, 0.07);
  border-radius: 8px;
  border: 1px solid #dddddd;
  overflow: hidden;
  margin: 0 13px;
}
.menber-cont__introduce-item-top {
  width: 280px;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ccdeff 0%, #9fb7f3 100%);
}
.menber-cont__introduce-item-top .__p1 {
  font-size: 22px;
  font-weight: 500;
  color: #324e90;
  line-height: 30px;
}
.menber-cont__introduce-item-top .__p2 {
  font-size: 12px;
  font-weight: 400;
  color: #324e90;
  line-height: 17px;
}
.menber-cont__introduce-item-top .__p3 {
  font-size: 12px;
  font-weight: 400;
  color: #405b9a;
  line-height: 17px;
}
.menber-cont__introduce-item-top .__money {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.menber-cont__introduce-item-top .__money span {
  font-size: 18px;
  font-weight: 500;
  color: #324e90;
  line-height: 25px;
  margin-top: auto;
}
.menber-cont__introduce-item-top .__money span.__money__big {
  font-size: 60px;
  font-weight: 600;
  color: #324e90;
  line-height: 50px;
}
.menber-cont__introduce-item-top .__update__vip {
  width: 220px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 20px;
  background: #eaefff;
  border-radius: 24px;
  font-size: 14px;
  color: #324e90;
}
.menber-cont__introduce-item-top .__update__vip img {
  width: 16px;
  margin-right: 6px;
}
.menber-cont__introduce-item-bottom {
  padding: 25px 22px;
  box-sizing: border-box;
  width: 280px;
}
.menber-cont__introduce-item-bottom .__title {
  font-size: 14px;
  font-weight: 400;
  color: #939aa4;
  margin-bottom: 18px;
}
.menber-cont__introduce-item-bottom .__can {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333333;
  margin-bottom: 40px;
}
.menber-cont__introduce-item-bottom .__can img {
  width: 14px;
  margin-right: 8px;
}
.menber-cont__introduce-item-bottom ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 36px;
}
.menber-cont__introduce-item-bottom ul li img {
  height: 14px;
}
.menber-cont__introduce-item-bottom ul li span:first-child {
  font-size: 16px;
  color: #333333;
}
.menber-cont__introduce-item-bottom ul li span:last-child {
  font-size: 16px;
  color: #b18251;
}
.menber-cont__introduce-item #free-version {
  background: linear-gradient(180deg, #e8f0fe 0%, #c7d0df 100%);
}
.menber-cont__introduce-item #free-version .__p1,
.menber-cont__introduce-item #free-version .__p2,
.menber-cont__introduce-item #free-version .__p3,
.menber-cont__introduce-item #free-version .__money span,
.menber-cont__introduce-item #free-version .__update__vip {
  color: #656B7B;
}
.menber-cont__introduce-item #free-version .__update__vip {
  background: #eaefff;
}
.menber-cont__introduce-item #__5998-version {
  background: linear-gradient(180deg, #ffebd1 0%, #efcda3 100%);
}
.menber-cont__introduce-item #__5998-version .__p1,
.menber-cont__introduce-item #__5998-version .__p2,
.menber-cont__introduce-item #__5998-version .__p3,
.menber-cont__introduce-item #__5998-version .__money span,
.menber-cont__introduce-item #__5998-version .__update__vip {
  color: #6F4A12;
}
.menber-cont__introduce-item #__5998-version .__update__vip {
  background: #fff7ed;
}
.menber-cont__introduce-item #__9998-version {
  background: linear-gradient(180deg, #383e67 0%, #23263e 100%);
}
.menber-cont__introduce-item #__9998-version .__p1,
.menber-cont__introduce-item #__9998-version .__p2,
.menber-cont__introduce-item #__9998-version .__p3,
.menber-cont__introduce-item #__9998-version .__money span,
.menber-cont__introduce-item #__9998-version .__update__vip {
  color: #FFCEBE;
}
.menber-cont__introduce-item #__9998-version .__update__vip {
  background: #444672;
}
.menber-cont .menber-cont__block {
  padding-top: 100px;
  padding-bottom: 90px;
}
.menber-cont .menber-cont__block-qy {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menber-cont .menber-cont__block-qy-item {
  margin: 0 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menber-cont .menber-cont__block-qy-item .qy__top {
  width: 100px;
  height: 100px;
  border: 1px solid #e3c095;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menber-cont .menber-cont__block-qy-item .qy__top img {
  width: 48px;
}
.menber-cont .menber-cont__block-qy-item .qy__top-five {
  width: 178px;
  height: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menber-cont .menber-cont__block-qy-item .qy__h3 {
  margin-top: 16px;
  margin-bottom: 9px;
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}
.menber-cont .menber-cont__block-qy-item .qy__p {
  width: 112px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 18px;
  text-align: center;
}
.menber-cont .menber-cont__block-qy-item .qy__p span {
  color: #B18251;
  padding: 0 2px;
}
.menber-cont .menber-cont__block-vip {
  width: 1158px;
  margin: 60px auto 0 auto;
}
.menber-cont .menber-cont__block-vip p.__vip-desc {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  padding-bottom: 17px;
}
.menber-cont .menber-cont__block-vip .__vip-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menber-cont .menber-cont__block-vip .__vip-cont .__vip-cont-item {
  width: 280px;
  height: 160px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.menber-cont .menber-cont__block-vip .__vip-cont .__vip-cont-item:hover {
  border: 3px solid #9f6610;
}
.menber-cont .menber-cont__block-vip .__vip-cont .__vip-cont-item .__vip-tag {
  position: absolute;
  top: 0;
  left: 0;
}
.menber-cont .menber-cont__block-vip .__vip-cont .__vip-cont-item .__vip-tag img {
  height: 19px;
}
.menber-cont .menber-cont__block-vip .__vip-cont .__vip-cont-item .__vip-tag span {
  display: inline-block;
  width: 110px;
  height: 29px;
  background-color: #4C4C4C;
  font-size: 16px;
  font-weight: 600;
  color: #eed5a9;
  line-height: 29px;
  text-align: center;
}
.menber-cont .menber-cont__block-vip .__vip-cont .__vip-cont-item .__vip-cont-item-money {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  display: flex;
  align-items: center;
}
.menber-cont .menber-cont__block-vip .__vip-cont .__vip-cont-item .__vip-cont-item-money span {
  font-size: 44px;
  font-weight: 600;
  color: #dd543f;
  line-height: 62px;
}
.menber-cont .menber-cont__block-vip .__vip-cont .__vip-cont-item p {
  font-size: 14px;
  font-weight: 600;
  color: #666666;
}
.menber-cont .menber-cont__block-vip .__vip-cont .__vip-cont-item a {
  font-size: 14px;
  color: #1db798;
  line-height: 20px;
  font-weight: bold;
}
.menber-cont .menber-cont__block-vip .__vip-cont .__vip-cont-item-active {
  border: 3px solid #9f6610 !important;
}
.menber-cont .menber-cont__phone {
  margin: 0 auto;
  width: 1158px;
  margin-bottom: 160px;
}
.menber-cont .menber-cont__phone p {
  font-size: 18px;
  color: #333333;
  padding-bottom: 14px;
}
.menber-cont .menber-cont__phone .layui-input {
  width: 392px;
  margin-bottom: 30px;
}
.menber-cont .menber-cont__phone .menber-cont__btn {
  width: 250px;
  height: 50px;
  background: #1bbc9c;
  border-radius: 4px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
.overlap-title {
  position: relative;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #333333;
  letter-spacing: 2px;
}
.overlap-title p {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: #ecf2f9;
  z-index: -1;
}
