.tab-active {
  background-color: #21CAA8 !important;
  color: #fff !important;
  height: 60px !important;
  margin-top: 50px !important;
  border-radius: 8px 8px 0px 0px !important;
}
.tag-active {
  background: #f0fbf9 !important;
  border-radius: 13px !important;
  color: #3BB79C !important;
  padding: 3px 12px !important;
}
.nav-item-active {
  background-color: #F0FBF9 !important;
  color: #3BB79C !important;
}
.nav-item-active::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 44px;
  background: #3bb79c;
  border-radius: 4px 0px 0px 4px;
}
.required {
  position: relative;
}
.required::before {
  content: "*";
  color: #FF3B30;
  position: absolute;
  top: 7px;
  left: 5px;
  font-size: 14px;
}
.is-block {
  display: block !important;
}
.w550 {
  width: 550px;
}
.w175 {
  width: 175px;
}
.green-bor-title {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #3bb79c;
  padding-left: 10px;
}
.green-bor-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 3px;
  height: 14px;
  background: #3bb79c;
  border-radius: 2px;
}
.release-tabs {
  width: 1200px;
  margin: 0 auto;
}
.release-tabs-header {
  display: flex;
  border-bottom: 4px solid #21CAA8;
  align-items: flex-end;
}
.release-tabs-header span {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fc;
  border-radius: 4px 4px 0px 0px;
  margin-top: 60px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
  transition: all 0.3s ease;
}
.release-tabs-header span:hover {
  background-color: #21CAA8 !important;
  color: #fff !important;
  height: 60px !important;
  margin-top: 50px !important;
  border-radius: 8px 8px 0px 0px !important;
}
.release-tabs .release-tabs-cont {
  padding: 29px 30px 0 30px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
  border: 1px solid #f3f3f3;
}
.release-tabs .release-tabs-cont .release-cont-item {
  display: flex;
  margin-bottom: 30px;
}
.release-tabs .release-tabs-cont .release-cont-item label {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  padding-right: 25px;
  white-space: nowrap;
  transform: translateY(3px);
}
.release-tabs .release-tabs-cont .release-cont-item .release-options {
  font-size: 14px;
  font-weight: 400;
  color: #62687c;
  display: flex;
  flex-wrap: wrap;
}
.release-tabs .release-tabs-cont .release-cont-item .release-options span {
  margin-bottom: 7px;
  margin-right: 6px;
  padding: 3px 12px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}
.release-tabs .release-tabs-cont .release-cont-item .release-options span:hover {
  background: #f0fbf9 !important;
  border-radius: 13px !important;
  color: #3BB79C !important;
  padding: 3px 12px !important;
}
.release-tabs .release-tabs-cont .release-cont-item .address-options {
  width: 86px;
  padding-top: 4px;
}
.release-tabs .release-tabs-cont .release-cont-item .address-options .layui-form-select .layui-input {
  border: none;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  color: #62687c;
}
.page-flex {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.page-flex .page-nav {
  width: 220px;
  padding-top: 50px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.page-flex .page-nav ul li .nav-title {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 22px 0 46px;
  cursor: pointer;
  color: #333333;
  position: relative;
  transition: all 0.3s ease;
}
.page-flex .page-nav ul li .nav-title:hover {
  background-color: #F0FBF9 !important;
  color: #3BB79C !important;
}
.page-flex .page-nav ul li .nav-title:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 44px;
  background: #3bb79c;
  border-radius: 4px 0px 0px 4px;
}
.page-flex .page-nav ul li .nav-title img {
  width: 16px;
}
.page-flex .page-nav ul li .nav-title span {
  padding-left: 12px;
  font-size: 14px;
}
.page-flex .page-nav ul li .nav-title .nav-arrow-up {
  margin-left: auto;
  transition: all 0.3s ease;
}
.page-flex .page-nav ul li .nav-title .nav-arrow-down {
  transform: rotate(180deg);
}
.page-flex .page-nav ul li .nav-cont {
  display: block;
}
.page-flex .page-nav ul li .nav-cont span {
  display: block;
  height: 44px;
  line-height: 44px;
  padding-left: 74px;
  font-size: 14px;
  color: #666666;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.page-flex .page-nav ul li .nav-cont span:hover {
  background-color: #F0FBF9 !important;
  color: #3BB79C !important;
}
.page-flex .page-nav ul li .nav-cont span:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 44px;
  background: #3bb79c;
  border-radius: 4px 0px 0px 4px;
}
.page-flex .page-cont {
  flex: 1;
}
.page-flex .page-cont .page-cont-none {
  display: none;
}
.personal-data {
  padding: 50px 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}
.personal-data--info {
  width: 100%;
  height: 167px;
  display: flex;
  background: #ffffff;
  border: 3px solid #f0fbf9;
  margin-bottom: 62px;
}
.personal-data--info__left {
  width: 328px;
  display: flex;
  padding: 0 40px 0 32px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.personal-data--info__left::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 94px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #F2F2F2;
}
.personal-data--info__left .personal-data--info--img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.personal-data--info__left .personal-data--info--img img {
  width: 100%;
  display: block;
}
.personal-data--info__left .personal-data--info--name .personal-data--name-head {
  display: flex;
  align-items: center;
}
.personal-data--info__left .personal-data--info--name .personal-data--name-head h3 {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}
.personal-data--info__left .personal-data--info--name .personal-data--name-head img {
  height: 14px;
  margin-left: 4px;
}
.personal-data--info__left .personal-data--info--name p {
  margin-top: 10px;
  font-size: 12px;
  color: #999999;
  line-height: 17px;
}
.personal-data--info__left .personal-data--info--name p span {
  font-size: 24px;
  font-weight: 500;
  color: #faa102;
  line-height: 33px;
  padding-right: 4px;
}
.personal-data--info__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}
.personal-data--info__right .personal-data--info-other div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
}
.personal-data--info__right .personal-data--info-other div img {
  width: 12px;
  margin-right: 12px;
  display: block;
}
.personal-data--info__right .personal-data--info-other div:last-child {
  margin-bottom: 0;
}
.personal-data--info__right .personal-data--info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.personal-data--info__right .personal-data--info-card p {
  font-size: 12px;
  color: #333333;
  padding-top: 16px;
}
.personal-data .personal-data-content .layui-tab-content {
  padding-top: 40px;
}
.personal-data .personal-data-content .layui-tab-content .jsfs .upload-image {
  width: 88px;
  height: 88px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f8f9fc;
  border: 1px dashed #dddddd;
  cursor: pointer;
}
.personal-data .personal-data-content .layui-tab-content .jsfs .upload-image p {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}
.personal-data .personal-data-content .layui-tab-content .jsfs img.upload-show {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: none;
}
.personal-data .personal-data-content .layui-tab-content .jsfs p {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  margin-top: 8px;
}
.personal-data .personal-data-content .layui-tab-content .nc {
  width: 260px;
  position: relative;
}
.personal-data .personal-data-content .layui-tab-content .nc .nc-total {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #cccccc;
}
.personal-data .personal-data-content .layui-tab-content .nc input {
  padding-right: 40px;
}
.personal-data .personal-data-content .layui-tab-content .szd {
  display: flex;
  align-items: center;
}
.personal-data .personal-data-content .layui-tab-content .szd .szd-item {
  width: 144px;
  margin-right: 10px;
}
.personal-data .personal-data-content .layui-tab-content .szgs {
  width: 250px;
}
.personal-data .personal-data-content .layui-tab-content .w175 {
  width: 175px;
}
.personal-data .personal-data-content .layui-tab-content .gzzm p {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  margin-top: 8px;
}
.personal-data .personal-data-content .layui-tab-content .safe li {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
}
.personal-data .personal-data-content .layui-tab-content .safe li .safe-cont {
  flex: 1;
  padding-left: 64px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.personal-data .personal-data-content .layui-tab-content .safe li .safe-cont img {
  width: 18px;
}
.personal-data .personal-data-content .layui-tab-content .safe li .safe-cont span.safe-unbind {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}
.personal-data .personal-data-content .layui-tab-content .safe li .safe-cont div {
  padding-left: 15px;
}
.personal-data .personal-data-content .layui-tab-content .safe li .safe-cont div span {
  margin-bottom: 2px;
}
.personal-data .personal-data-content .layui-tab-content .safe li .safe-cont div p {
  font-size: 12px;
  color: #999999;
  line-height: 1.5;
}
.personal-data .personal-data-content .layui-tab-content .safe li .safe-btn .layui-btn {
  background: #1bbc9c;
  border-radius: 19px;
}
.personal-data .personal-data-content .layui-tab-content .safe li .safe-btn .update-btn {
  width: 90px;
  height: 38px;
  border-radius: 19px;
  border: 1px solid #1bbc9c;
  background-color: #fff;
  color: #1BBC9C;
}
.personal-data .personal-data-content .layui-tab-content .safe li:hover {
  background: #f8f9fc;
}
.dialog-box {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 11px;
}
.dialog-box .box-close {
  text-align: right;
}
.dialog-box .box-close img {
  width: 22px;
  cursor: pointer;
  opacity: 0.5;
}
.dialog-box .box-close img:hover {
  opacity: 1;
}
.dialog-box .box-title {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.dialog-box .box-cont {
  padding: 0 26px;
}
.dialog-box .box-cont .has-phone-number {
  margin-bottom: 10px;
}
.dialog-box .box-cont-item {
  margin-bottom: 18px;
}
.dialog-box .box-cont .send-ipt {
  position: relative;
}
.dialog-box .box-cont .send-ipt input {
  padding-right: 100px;
}
.dialog-box .box-cont .send-ipt .send-btns {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding-left: 24px;
  border-left: 1px solid #DDDDDD;
}
.dialog-box .box-cont .send-ipt .send-btns .is-send {
  font-size: 14px;
  color: #3bb79c;
  cursor: pointer;
}
.dialog-box .dialog-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.dialog-box .dialog-btns span {
  width: 90px;
  height: 38px;
  border-radius: 4px;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
}
.dialog-box .dialog-btns .dialog-cancel {
  color: #666666;
  background: #f8f9fc;
  border: 1px solid #dddddd;
  margin-right: 10px;
  cursor: pointer;
}
.dialog-box .dialog-btns .dialog-submit {
  color: #fff;
  background: #1bbc9c;
}
.company-in {
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.company-in .company-desc {
  padding-top: 98px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 54px;
}
.company-in .company-desc h3 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}
.company-in .company-desc P {
  margin-top: 7px;
  font-size: 12px;
  font-weight: 400;
  color: #ff3b30;
}
.company-in .steps {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-in .steps .step {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-in .steps .step img {
  display: none;
}
.company-in .steps .step .step-number {
  width: 32px;
  height: 32px;
  border: 1px solid #cccccc;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  font-size: 14px;
  color: #cccccc;
}
.company-in .steps .step .step-line {
  width: 146px;
  height: 1px;
  background: #cccccc;
  margin: 0 16px;
}
.company-in .steps .step p {
  font-size: 16px;
  color: #999999;
  margin-left: 8px;
}
.company-in .steps .step-active span.step-number {
  background-color: #3BB79C;
  color: #fff;
  border: 1px solid #3BB79C;
}
.company-in .steps .step-active p {
  font-weight: 500;
  color: #333333;
}
.company-in .steps .step-active div.step-line {
  background-color: #3BB79C;
}
.company-in .steps .has-active span.step-number {
  display: none;
}
.company-in .steps .has-active img {
  display: block;
}
.company-in .steps .has-active p {
  font-weight: 500;
  color: #333333;
}
.company-in .steps .has-active div.step-line {
  background-color: #3BB79C;
}
.company-in .company-cont {
  padding-top: 60px;
  padding-bottom: 98px;
}
.company-in .company-cont .modal-btn-next {
  width: 160px;
  height: 48px;
  background: #1bbc9c;
  border-radius: 4px;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 60px;
  cursor: pointer;
}
.company-in .company-cont .company-step-one .company-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-in .company-cont .company-step-one .company-modal .modal-box {
  width: 410px;
  height: 160px;
  background: #f8f9fc;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 35px;
  box-sizing: border-box;
  margin-left: 27px;
  border: 1px solid #f8f9fc;
  cursor: pointer;
}
.company-in .company-cont .company-step-one .company-modal .modal-box:hover {
  background: #f0fbf9;
  border-radius: 8px;
  border: 1px solid #1bbc9c;
}
.company-in .company-cont .company-step-one .company-modal .modal-box .modal-left h3 {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  padding-bottom: 7px;
}
.company-in .company-cont .company-step-one .company-modal .modal-box .modal-left p {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  line-height: 20px;
  letter-spacing: 1px;
}
.company-in .company-cont .company-step-one .company-modal div.modal-box-active {
  background: #f0fbf9;
  border-radius: 8px;
  border: 1px solid #1bbc9c;
}
.company-in .company-cont .company-step-two {
  padding: 0 60px;
}
.company-in .company-cont .company-step-two .layui-form-item .layui-form-label {
  text-align: left;
}
.company-in .company-cont .company-step-two .layui-form-item .select-item {
  display: inline-block;
  width: 124px;
}
.company-in .company-cont .company-step-two .layui-form-item .upload-desc {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.company-in .company-cont .company-step-three {
  padding: 0 60px;
}
.company-in .company-cont .company-step-three .layui-form-item .layui-form-label {
  text-align: left;
}
.lxfs-box .lxfs {
  display: flex;
  align-items: center;
}
.lxfs-box .lxfs .lxfs-item {
  margin-right: 10px;
  position: relative;
}
.lxfs-box .lxfs .lxfs-item img {
  position: absolute;
  top: 50%;
  left: 10px;
  height: 14px;
  transform: translateY(-50%);
}
.lxfs-box .lxfs .lxfs-item .layui-input {
  padding-left: 30px;
  border-radius: 4px;
}
.lxfs-box p {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  margin-top: 8px;
}
