.tab-active{
    background-color: #21CAA8 !important;
    color: #fff !important;
    height:60px !important;
    margin-top: 50px !important;
    border-radius:8px 8px 0px 0px !important;
}
.tag-active{
    background:rgba(240,251,249,1) !important;
    border-radius:13px !important;
    color: #3BB79C !important;
    padding: 3px 12px !important;
}
.nav-item-active{
    background-color: #F0FBF9 !important;
    color: #3BB79C !important;
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width:5px;
        height:44px;
        background:rgba(59,183,156,1);
        border-radius:4px 0px 0px 4px;
    }
}
.required{
    position: relative;
}
.required::before{
    content: "*";
    color: #FF3B30;
    position: absolute;
    top: 7px;
    left: 5px;
    font-size: 14px;
}
.is-block{
    display: block !important;
}
.w550{
    width: 550px;
}
.w175{
    width: 175px;
}
.w400{
    width: 400px;
}
.green-bor-title{
    position: relative;
    font-size:16px;
    font-weight:500;
    color:rgba(59,183,156,1);
    padding-left: 10px;
    &::after{
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width:3px;
        height:14px;
        background:rgba(59,183,156,1);
        border-radius:2px;
    }
}
.nc{
    width: 260px;
    position: relative;
    .nc-total{
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        font-size:12px;
        color:rgba(204,204,204,1);
    }
    input{
        padding-right: 40px;
    }
}
.upload-desc{
    margin-top: 8px;
    font-size:14px;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.release-tabs{
    width: 1200px;
    margin: 0 auto;
    &-header{
        display: flex;
        border-bottom: 4px solid #21CAA8;
        align-items: flex-end;
        span{
            width:300px;
            height:50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background:rgba(248,249,252,1);
            border-radius:4px 4px 0px 0px;
            margin-top: 60px;
            margin-right: 10px;
            font-size:20px;
            font-weight:600;
            color:rgba(51,51,51,1);
            cursor: pointer;
            transition: all .3s ease;
            &:hover{
                .tab-active()
            }
        }
    }
    .release-tabs-cont{
        padding: 29px 30px 0 30px;
        box-shadow:0px 4px 6px 0px rgba(0,0,0,0.04);
        border:1px solid rgba(243,243,243,1);
        .release-cont-item{
            display: flex;
            margin-bottom: 30px;
            label{
                font-size:14px;
                font-weight:600;
                color:rgba(51,51,51,1);
                padding-right: 25px;
                white-space: nowrap;
                transform: translateY(3px);
            }
            .release-options{
                font-size:14px;
                font-weight:400;
                color:rgba(98,104,124,1);
                display: flex;
                flex-wrap: wrap;
                span{
                    margin-bottom: 7px;
                    margin-right: 6px;
                    padding: 3px 12px;
                    white-space: nowrap;
                    cursor: pointer;
                    transition: all .3s ease;
                    &:hover{
                       .tag-active()
                    }
                }
            }
            .address-options{
                width: 86px;
                padding-top: 4px;
                .layui-form-select .layui-input{
                    border: none;
                    height: auto;
                    font-size: 14px;
                    font-weight: 400;
                    color: #62687c;
                }
            }
        }
    }
}
.page-flex{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    .page-nav{
        width: 220px;
        padding-top: 50px;
        border:1px solid rgba(242,242,242,1);
        box-sizing: border-box;
        ul{
            li{
                .nav-title{
                    display: flex;
                    align-items: center;
                    height: 44px;
                    padding: 0 22px 0 46px;
                    cursor: pointer;
                    color:rgba(51,51,51,1);
                    position: relative;
                    transition: all .3s ease;
                    &:hover{
                        .nav-item-active()
                    }
                    img{
                        width: 16px;
                    }
                    span{
                        padding-left: 12px;
                        font-size:14px;
                        
                    }
                    .nav-arrow-up{
                        margin-left: auto;
                        transition: all .3s ease;
                    }
                    .nav-arrow-down{
                        transform: rotate(180deg);
                    }
                }
                .nav-cont{
                    display: block;
                    span{
                        display: block;
                        height: 44px;
                        line-height: 44px;
                        padding-left: 74px;
                        font-size:14px;
                        color:rgba(102,102,102,1);
                        cursor: pointer;
                        transition: all .3s ease;
                        position: relative;
                        &:hover{
                            .nav-item-active()
                        }
                    }
                }
            }
        }
    }
    .page-cont{
        flex: 1;
        .page-cont-none{
            display: none;
        }
    }
}
.personal-data{
    padding: 50px 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    &--info{
        width: 100%;
        height:167px;
        display: flex;
        background:rgba(255,255,255,1);
        border:3px solid rgba(240,251,249,1);
        margin-bottom: 62px;
        &__left{
            width: 328px;
            display: flex;
            padding: 0 40px 0 32px;
            align-items: center;
            box-sizing: border-box;
            position: relative;
            &::before{
                content: "";
                display: inline-block;
                width:1px;
                height:94px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background-color: #F2F2F2;
            }
            .personal-data--info--img{
                width: 88px;
                height: 88px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 15px;
                img{
                    width: 100%;
                    display: block;
                }
            }
            .personal-data--info--name{
                .personal-data--name-head{
                    display: flex;
                    align-items: center;
                    h3{
                        font-size:18px;
                        font-weight:400;
                        color:rgba(51,51,51,1);
                    }
                    img{
                        // height: 14px;
                        margin-left: 4px;
                    }
                }
                p{
                    margin-top: 10px;
                    font-size:12px;
                    color:rgba(153,153,153,1);
                    line-height:17px;
                    span{
                        font-size:24px;
                        font-weight:500;
                        color:rgba(250,161,2,1);
                        line-height:33px;
                        padding-right: 4px;
                    }
                }
            }
        }
        &__right{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 40px;
            box-sizing: border-box;
            .personal-data--info-other{
                div{
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    font-size:12px;
                    font-weight:400;
                    color:rgba(51,51,51,1);
                    img{
                        margin-right: 12px;
                        display: block;
                    }
                }
                div:last-child{
                    margin-bottom: 0;
                }
            }
            .personal-data--info-other2{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                button{
                    width:123px;
                    height:38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    color: #fff;
                    font-size:14px;
                    margin-top: 10px;
                    background:rgba(27,188,156,1);
                    border-radius:19px;
                    img{
                        margin-right: 4px;
                    }
                }
            }
            .personal-data--info-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                p{
                    font-size:12px;
                    color:rgba(51,51,51,1);
                    padding-top: 16px;
                }
            }
        }
    }.personal-data-content{
        .layui-tab-content{
            padding-top: 40px;
            .jsfs{
                .upload-image{
                    width: 88px;
                    height: 88px;
                    overflow: hidden;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background:rgba(248,249,252,1);
                    border:1px dashed    rgba(221,221,221,1);
                    cursor: pointer;
                    p{
                        font-size:12px;
                        font-weight:400;
                        color:rgba(102,102,102,1);
                    }
                   
                }
                img.upload-show{
                    width: 88px;
                    height: 88px;
                    border-radius: 50%;
                    display: none;
                }
                p{
                    font-size:14px;
                    font-weight:400;
                    color:rgba(153,153,153,1);
                    margin-top: 8px;
                }
            }
        
            .szd{
                display: flex;
                align-items: center;
                .szd-item{
                    width: 144px;
                    margin-right: 10px;
                }
            }
            .w175{
                width: 175px;
            }
            .gzzm{
                p{
                    font-size:14px;
                    font-weight:400;
                    color:rgba(153,153,153,1);
                    margin-top: 8px;
                }
            }
        
            .safe{
                li{
                    height:84px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 30px;
                    box-sizing: border-box;
                    .safe-cont{
                        flex: 1;
                        padding-left: 64px;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        img{
                            width: 18px;
                        }
                        span.safe-unbind{
                            padding-left: 15px;
                            font-size:14px;
                            font-weight:500;
                            color:rgba(51,51,51,1);
                        }
                        div{
                            padding-left: 15px;
                            span{
                                margin-bottom: 2px;
                            }
                            p{
                                font-size:12px;
                                color:rgba(153,153,153,1);
                                line-height: 1.5;
                            }
                        }
                    }
                    .safe-btn{
                        .layui-btn{
                            background:rgba(27,188,156,1);
                            border-radius:19px;
                        }
                        .update-btn{
                            width:90px;
                            height:38px;
                            border-radius:19px;
                            border:1px solid rgba(27,188,156,1);
                            background-color: #fff;
                            color: #1BBC9C;
                        }
                    }
                    &:hover{
                        background:rgba(248,249,252,1);
                    }
                }
            }
        }
    }
}
.dialog-box{
    width:100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background:rgba(255,255,255,1);
    border-radius:11px;
    .box-close{
        text-align: right;
        img{
            width: 22px;
            cursor: pointer;
            opacity: 0.5;
            &:hover{
                opacity: 1;
            }
        }
    }
    .box-title{
        font-size:20px;
        font-weight:500;
        color:rgba(51,51,51,1);
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .box-cont{
        padding: 0 26px;
        .has-phone-number{
            margin-bottom: 10px;
        }
        &-item{
            margin-bottom: 18px;
        }
        .send-ipt{
            position: relative;
            input{
                padding-right: 100px;
            }
            .send-btns{
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                padding-left: 24px;
                border-left: 1px solid #DDDDDD;
                .is-send{
                    font-size:14px;
                    color:rgba(59,183,156,1);
                    cursor: pointer;
                }
            }
        }
    }
    .dialog-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        span{
            width:90px;
            height:38px;
            border-radius:4px;
            line-height: 38px;
            text-align: center;
            font-size:14px;
        }
        .dialog-cancel{
            color:rgba(102,102,102,1);
            background:rgba(248,249,252,1);
            border:1px solid rgba(221,221,221,1);
            margin-right: 10px;
            cursor: pointer;
        }
        .dialog-submit{
            color: #fff;
            background:rgba(27,188,156,1);
        }
    }
}
.company-in{
    border-right: 1px solid rgba(242,242,242,1);
    border-bottom: 1px solid rgba(242,242,242,1);
    .company-desc{
        padding-top: 98px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 54px;
        h3{
            font-size:20px;
            font-weight:500;
            color:rgba(51,51,51,1);
        }
        P{
            margin-top: 7px;
            font-size:12px;
            font-weight:400;
            color:rgba(255,59,48,1);
        }
    }
    .steps{
        display: flex;
        align-items: center;
        justify-content: center;
        .step{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                display: none;
            }
            .step-number{
                width:32px;
                height:32px;
                border:1px solid rgba(204,204,204,1);
                text-align: center;
                line-height: 32px;
                border-radius: 50%;
                font-size:14px;
                color:rgba(204,204,204,1);
            }
            .step-line{
                width:146px;
                height:1px;
                background:rgba(204,204,204,1);
                margin: 0 16px;
            }
            p{
                font-size:16px;
                color:rgba(153,153,153,1);
                margin-left: 8px;
            }
        } 
        .step-active{
            span.step-number{
                background-color: #3BB79C;
                color: #fff;
                border:1px solid #3BB79C;
            }
            p{
                font-weight: 500;
                color: #333333;
            }
            div.step-line{
                background-color: #3BB79C;
            }
        }  
        .has-active{
            span.step-number{
                display: none;
            }
            img{
                display: block;
            }
            p{
                font-weight: 500;
                color: #333333;
            }
            div.step-line{
                background-color: #3BB79C;
            }
        }
       
    }
    .company-cont{
        padding-top: 60px;
        padding-bottom: 98px;
        .modal-btn-next{
            width:160px;
            height:48px;
            background:rgba(27,188,156,1);
            border-radius:4px;
            text-align: center;
            line-height: 48px;
            font-size:16px;
            font-weight:500;
            color:rgba(255,255,255,1);
            margin: 0 auto;
            margin-top: 60px;
            cursor: pointer;
          }
        .company-step-one{
          .company-modal{
              display: flex;
              align-items: center;
              justify-content: center;
              .modal-box{
                width:410px;
                height:160px;
                background:rgba(248,249,252,1);
                border-radius:8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 35px;
                box-sizing: border-box;
                margin-left: 27px;
                border: 1px solid rgba(248,249,252,1);
                cursor: pointer;
                &:hover{
                    background:rgba(240,251,249,1);
                    border-radius:8px;
                    border:1px solid rgba(27,188,156,1);
                }
                .modal-left{
                    h3{
                        font-size:24px;
                        font-weight:500;
                        color:rgba(51,51,51,1);
                        padding-bottom: 7px;
                    }
                    p{
                        font-size:14px;
                        font-weight:500;
                        color:rgba(153,153,153,1);
                        line-height:20px;
                        letter-spacing:1px;
                    }
                }
              }
              div.modal-box-active{
                background:rgba(240,251,249,1);
                border-radius:8px;
                border:1px solid rgba(27,188,156,1);
              }
          }
         
        }
        .company-step-two{
            padding: 0 60px;
            .layui-form-item{
                .layui-form-label{
                    text-align: left;
                }
                .select-item{
                    display: inline-block;
                    width: 124px;
                }
            }
        }
        .company-step-three{
            padding: 0 60px;
            .layui-form-item{
                .layui-form-label{
                    text-align: left;
                }
            }
        }
    }
}
.lxfs-box{
    .lxfs{
        display: flex;
        align-items: center;
        .lxfs-item{
            margin-right: 10px;
            position: relative;
            img{
                position: absolute;
                top: 50%;
                left: 10px;
                height: 14px;
                transform: translateY(-50%);
            }
            .layui-input{
                padding-left: 30px;
                border-radius:4px;
            }
        }
        
    }
    p{
        font-size:14px;
        font-weight:400;
        color:rgba(153,153,153,1);
        margin-top: 8px;
    }
}
.post-want{
    padding: 60px;
    border-right: 1px solid rgba(242,242,242,1);
    border-bottom: 1px solid rgba(242,242,242,1);
    .post-edit{
        .post-alert{
            display: flex;
            align-items: center;
            height:32px;
            background:rgba(255,240,239,1);
            border-radius:4px;
            border:1px solid rgba(255,171,166,1);
            padding-left: 16px;
            box-sizing: border-box;
            font-size:14px;
            font-family:PingFangSC-Regular,PingFang SC;
            color:rgba(102,102,102,1);
            margin-bottom: 40px;
            img{
                width: 14px;
                display: block;
                margin-right: 8px;
            }
        }
        .post-times{
            display: flex;
            align-items: center;
           
            .layui-input{
                padding-right: 30px;
            }
            .post-time{
                position: relative;
                img{
                    width: 16px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 8px;
                }
            }
           span.zhi{
               margin: 0 6px;
           }
        }
    }
    .post-btns{
        display: flex;
        align-items: center;
        padding-top: 65px;
        div{
            margin-right: 16px;
            padding: 8px 22px;
            background:rgba(248,249,252,1);
            border-radius:4px;
            border:1px solid rgba(221,221,221,1);
            cursor: pointer;
        }
    }
    .post-success{
        padding-top: 105px;
        padding-bottom: 30px;
        .post-success-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 64px;
            }
            h3{
                margin-top: 25px;
                margin-bottom: 16px;
                font-size:20px;
                font-weight:bold;
                color:rgba(51,51,51,1);
            }
            p{
                width:480px;
                font-size:14px;
                color:rgba(102,102,102,1);
                line-height:22px;
                text-align: center;
            }
        }
 
    }
    .post-fail{
        padding-top: 80px;
        .post-fail-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            .fail-error{
                width: 64px;
            }
            h3{
                font-size:20px;
                font-weight:bold;
                color:rgba(51,51,51,1);
                margin: 24px 0 4px 0;
            }
            p{
                font-size:14px;
                font-weight:400;
                color:rgba(102,102,102,1);
            }
            .post-fail-cont{
                width:560px;
                margin: 30px auto;
                background:rgba(248,249,252,1);
                border-radius:2px;
                padding: 24px 40px;
                box-sizing: border-box;
                h4{
                    font-size:16px;
                    font-weight:bold;
                    color:rgba(51,51,51,1);
                    line-height:24px;
                    margin-bottom: 16px;
                }
                .fail-desc{
                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;
                    img{
                        width: 14px;
                        margin-right: 8px;
                    }
                    p{
                        font-size:14px;
                        color:rgba(0,0,0,0.65);
                        margin-right: 16px;
                    }
                    a{
                        font-size:14px;
                        color:rgba(27,188,156,1);
                    }
                }
            }
        }
    }
    
}
.first-out-part{
    padding: 50px 60px;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    h3.first-title{
        font-size:18px;
        font-weight:800;
        color:rgba(51,51,51,1); 
        padding-bottom: 15px;
        border-bottom: 1px solid #EEEEEE;
        margin-bottom: 20px;
    }
    .first-part{
        .first-box{
            background:rgba(255,255,255,1);
            border-radius:4px 4px 0px 0px;
            border:1px solid rgba(238,238,238,1);
            .first-box-head{
                height: 44px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 24px;
                box-sizing: border-box;
                background:rgba(248,249,252,1);
                .first-head-left,.first-head-right{
                    display: flex;
                    align-items: center;
                }
                .first-head-left{
                    font-size:14px;
                    font-weight:500;
                    color:rgba(51,51,51,1);
                    img.head-icon{
                        width:32px;
                        height:32px;
                        border-radius: 50%;
                        margin-right: 4px;
                    }
                    p{
                        padding-left: 6px;
                        border-left: 1px solid #ccc;
                        margin-left: 6px;
                    }
                    img{
                        width: 16px;
                        height: auto;
                        margin-left: 7px;
                    }
                }
                .first-head-right{
                    span{
                        margin-right: 40px;
                        img{
                            width: 12px;
                            margin-right: 2px;
                        }
                        
                    }
                    span:last-child{
                        margin-right: 0;
                    }
                }
            }
            .first-box-cont{
                padding:20px 25px;
                border-bottom: 1px solid #EEEEEE;
                position: relative;
                overflow: hidden;
                .record{
                    position: absolute;
                    top: 10px;
                    right: -30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    color: #fff;
                    background-color: #F56C6C;
                    transform: rotate(45deg);
                }
                h4{
                    font-size:20px;
                    font-weight:600;
                    color:rgba(51,51,51,1);
                    margin-bottom: 12px;
                    span{
                        float: left;
                        padding: 1px 6px;
                        color: #fff;
                        border-radius: 20px;
                        font-size: 12px;
                        margin-right: 16px;
                        background-color: #409EFF;
                        margin-top: 4px;
                    }
                }
                p{
                    font-size:14px;
                    font-weight:400;
                    line-height: 1.5;
                    color:rgba(51,51,51,1);
                }
            }
            .first-box-info{
                padding: 15px 25px;
                font-size:14px;
                color:rgba(102,102,102,1);
            }
        }
    }
    .first-part2{
        margin-top: 50px;
        .update-vip{
            width:858px;
            height:70px;
            background:rgba(30,16,13,0.71);
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size:14px;
                font-weight:500;
                color:rgba(255,202,165,1);
                letter-spacing:1px;
                text-shadow:0px 2px 2px rgba(0,0,0,0.18);
                margin-right: 28px;
            }
            span{
                width:126px;
                height:40px;
                line-height: 40px;
                background:linear-gradient(90deg,rgba(232,187,157,1) 0%,rgba(244,219,193,1) 100%);
                border-radius:21px;
                text-align: center;
                justify-content: center;
                font-size:16px;
                font-weight:500;
                color:rgba(106,51,19,1);
            }
        }
        .first-contact{
            display: flex;
            .first-contact-item{
                display: flex;
                align-items: center;
                margin-right: 90px;
                img{
                    margin-right: 4px;
                }
            }
        }
    }
    .first-part3{
        margin-top: 50px;
        ul{
            li{
                margin-top: 20px;
                font-size:14px;
                font-weight:400;
                color:rgba(51,51,51,1);
                cursor: pointer;
                display: flex;
                align-items: center;
                span{
                    margin-left: auto;
                }
                &:hover{
                    color: #3BB79C;
                }
                &::before{
                    content: "";
                    display: inline-block;
                    width:8px;
                    height:8px;
                    background:rgba(255,255,255,1);
                    border:2px solid rgba(59,183,156,1);
                    border-radius: 50%;
                    margin-right: 6px;
                }
            }
        }
    }
    .first-part4{
        margin-top: 50px;
        .first-introduce{
            p{
                font-size:14px;
                font-weight:400;
                color:rgba(51,51,51,1);
                line-height:24px;
                span{
                    color: #1BBC9C;
                }
            }
          
        }
        .first-company-imgs{
            display: flex;
            margin-top: 10px;
            .company-img{
                width:180px;
                height:180px;
                border-radius:8px;
                overflow: hidden;
                margin-right: 8px;
                img{
                    width: 100%;
                }
            }
        }
    }
    .first-part-btn{
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width:100px;
        height:38px;
        background:rgba(27,188,156,1);
        border-radius:4px;
        color: #fff;
        cursor: pointer;
        img{
            width: 14px;
            margin-right: 4px;
        }
    }
}