html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
#search-page .layui-laypage .layui-laypage-curr{
    width:32px;
    height:32px;
    border-radius:6px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    overflow: hidden;
}
#search-page .layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #21CAA8;
    border: none;
}
#search-page .layui-laypage .layui-laypage-spr{
    border: none;
}
#search-page .layui-laypage a{
    width:32px;
    height:32px;
    background:rgba(255,255,255,1);
    border-radius:6px;
    border:1px solid rgba(221,221,221,1);
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
}
#search-page .layui-laypage input:focus{
    border-color: #21CAA8 !important;
}

.phone-dialog-cs{
    border-radius:11px !important;
}

.layui-form-select dl dd.layui-this{
    background-color: #21CAA8 !important;
}
.personal-data .layui-tab-title li{
    font-size:16px;
    font-weight:500;
    color: #666666;
    line-height: 46px;
}
.personal-data .layui-tab-title .layui-this:after{
    width: 70% !important;
    transform: translateX(22%);
    height: 46px;
}
.personal-data .layui-tab-title{
    height: 46px;
}
.personal-data .layui-form-label{
    text-align: left;
    font-size:14px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.personal-data .layui-form-item{
    margin-bottom: 24px;
}
.dialog-box .layui-input{
    border:1px solid rgba(221,221,221,1);
    padding-left: 20px;
    border-radius:4px;
    height: 32px;
}
.dialog-box .layui-input::placeholder{
    font-size:14px;
    color:#ccc;
}
.dialog-box .layui-textarea::placeholder{
    color: #ccc;
}
.layui-form-item .layui-form-label{
    padding: 4px 15px;
        text-align: left;
    
}
.page-cont .layui-tab-title{
    height: 48px;
}
.page-cont .layui-tab-title li {
    line-height: 48px;
    font-size:16px;
    padding: 0 24px;
}
.page-cont .layui-tab-title .layui-this:after {
    height: 49px;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
}
button.primary{
    padding: 5px 20px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(221,221,221,1);
    font-size:14px;
    color:rgba(102,102,102,1);
}
span.tag{
    padding: 3px 7px;
    font-size:12px;
    color:rgba(255,255,255,1);
    border-radius: 4px;
}