<style>
    @import url(/css/layout.css);
</style>   
<div class="page-footer">
    <div class="page-footer-detail">
        <div class="detail-inner">      
            <div class="detail-inner-left">
                <div class="detail-inner-left--col">
                    <h3>我有需求</h3>
                    <a href="#">发布需求</a>
                    <a href="#">法包宝典</a>
                    <a href="#">发包须知</a>
                    <a href="#">平台自营服务</a>
                </div>
                <div class="detail-inner-left--col">
                    <h3>帮助中心</h3>
                    <a href="#">账号相关</a>
                    <a href="#">认证指南</a>
                    <a href="#">会员权益</a>
                    <a href="#">合作信息</a>
                    <a href="#">意见反馈</a>
                </div>
                <div class="detail-inner-left--col">
                    <h3>商务合作</h3>
                    <a href="#">市场合作</a>
                    <a href="#">合作伙伴</a>
                    <a href="#">联系我们</a>
                </div>
                <div class="detail-inner-left--col">
                    <h3>服务与支持</h3>
                    <h2>400-8982-008</h2>
                    <div>周一至周五 09:00-18:00</div>
                    <p>官方接包QQ群：576935158</p>
                    <p>官方邮箱：23878@opp2.com</p>
                </div>
            </div>
            <div class="detail-inner-right">
                <div class="detail-inner-right--logo">
                    <img src="/images/logo.png" />
                </div>
                <div class="detail-inner-right--qrcodes">
                    <div class="">
                        <img src="/images/qrcode.png" />
                        <p>青瓜公众号</p>
                    </div>
                    <div class="">
                        <img src="/images/qrcode.png" />
                        <p>青瓜小程序</p>
                    </div>
                    <div class="">
                        <img src="/images/qrcode.png" />
                        <p>产品经理微信</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer-copy">
        <div class="copy--links">
            <label>友情链接：</label>
            <a href="#">青瓜传媒</a>
            <a href="#">小猫试玩</a>
            <a href="#">APP推广</a>
            <a href="#">ASO优化</a>
            <a href="#">CPA之家</a>
            <a href="#">天猫店铺转让</a>
            <a href="#">法律快车</a>
            <a href="#">游戏陀螺</a>
            <a href="#">白鲸出海</a>
            <a href="#">积分墙投放</a>
            <a href="#">跨境电商</a>
            <a href="#">跨境电商市场</a>
            <a href="#">运营大叔</a>
        </div>
        <div class="copy--right">
            Copyright © 2014-2020 青瓜传媒 OPP2.com 版权所有 免责声明
        </div>
    </div>
</div>                          