<style>
    @import url(/css/layout.css);
</style>
<div class="page-header" style="display: none;">
    <div class="header-inner">
        <div class="header-inner--logo">
            <img src="/images/header-logo.png" />
        </div>
        <div class="header-inner--nav"></div>
        <div class="header-inner--admin">
            <div class="header-inner--admin--unlogin">
                <img src="/images/user.png" />
                <span id="login">登录</span>
                <span id="register">注册</span>
            </div>
            <div class="header-inner--admin--unvip is-none">
                <img src="/images/update-user.png" style="margin-right: 4px;" />
                <img style="width: 40px;" src="/images/ben.png" />
                <div class="header-inner--admin--pop">
                    <div class="admin--pop--head admin-active">
                        <h3>153****3648</h3>
                        <p class="update-vip">升级会员></p>
                        <p class="admin-vip">豪华商业版会员</p>
                    </div>
                    <ul>
                        <a href="/personal-data.html">
                            <li>个人资料</li>
                        </a>
                        <a href="/company-in.html">
                            <li>公司入驻</li>
                        </a>
                        <a href="/my-push.html">
                            <li>我的发布</li>
                        </a>
                        <a href="/mate.html">
                            <li>匹配合作</li>
                        </a>
                        <a href="/company-history.html">
                            <li>合作历史</li>
                        </a>
                        <a href="/message-center.html">
                            <li>消息中心<span class="layui-badge" style="border-radius: 10px;padding: 0 8px;">29</span></li>
                        </a>
                        <a href="/keyword.html">
                            <li>关键词订阅</li>
                        </a>
                        <li>退出登录</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        layui.use('layer', function () {
            var layer = layui.layer;
            //导航栏数据
            const nav = [
                {
                    name: '首页',
                    url: 'index.html'
                },
                {
                    name: '发布需求',
                    url: 'push-need.html'
                },
                {
                    name: '合作企业',
                    url: 'release-requirements.html?type=2'
                },
                {
                    name: '会员特权',
                    url: 'member.html',
                    icon: '/images/vip.png'
                },
                // {
                //     name: '关于我们',
                //     url: '#'
                // },
                // {
                //     name: '知识付费',
                //     url: '#'
                // },
                {
                    name: '帮助中心',
                    url: 'help.html'
                }
            ]
            //获取地址参数
            const pathname = window.location.pathname + window.location.search;
            console.log(pathname)
                //遍历数组渲染html
                ; (function () {
                    const el = $('.header-inner--nav');
                    let html = nav.map(item => {
                        return `
                <div class="header-inner--item ${pathname.includes(item.url) ? 'nav-active' : ''}">
                    <a class="${item.icon ? 'colorYellow' : ''}" href="${item.url}">
                        ${item.icon ? `<img style="width: 20px" src="${item.icon}" />` : ''}
                        ${item.name}
                    </a>
                </div>
                `
                    })
                    el.empty().append(html)
                })()
            //滚动条事件
            let routeName = window.location.pathname;
            if (routeName.includes('index')) {
                $(window).on('scroll', function () {
                    var winPos = $(window).scrollTop()
                    if (winPos >= 600) {
                        $('.page-header').addClass('other-style')
                    } else {
                        $('.page-header').removeClass('other-style')
                    }
                })
            } else {
                $(window).unbind('scroll')
                $('.page-header').addClass('other-style')
            }

            //鼠标hover事件
            $('.header-inner--admin--unvip').hover(function () {
                $(this).children('.header-inner--admin--pop').stop().slideDown();
            }, function () {
                $(this).children('.header-inner--admin--pop').stop().slideUp();
            })
            //登录点击事件
            $('#login').click(function () {
                //会员登录 样式状态改变
                $(this).parent('.header-inner--admin--unlogin').addClass('is-none');
                $('.header-inner--admin--unvip', '.header-inner--admin').removeClass('is-none')

                window.name = layer.open({
                    type: 2,
                    skin: 'phone-dialog-cs',
                    area: ['400px', '530px'],
                    title: '',
                    closeBtn: 0,
                    content: 'components/login.html'
                });
            })
            //注册事件 弹窗
            $('#register').click(function () {
                window.name = layer.open({
                    type: 2,
                    skin: 'phone-dialog-cs',
                    area: ['400px', '530px'],
                    title: '',
                    closeBtn: 0,
                    content: '/components/PhoneDialog.html'
                });
            })

            setTimeout(() => {
                $('.page-header').css('display', 'block')
            }, 100)
        });

    })
</script>