<style>
    @import url(/css/search-list.css);
</style>
<div class="search-list" style="display: none;">
    <div class="search-list__header">
        <div class="search-list__header-inner">
            <div class="search-list__header-top">
                <div class="ipt-box">
                    <img src="/images/search.png" />
                    <input id="search-input" type="text" placeholder="请输入公司名称/姓名/地区/资源关键字" />
                    <button type="button" class="layui-btn layui-btn-radius search-btn">搜索</button>
                </div>
                <button type="button" class="layui-btn layui-btn-radius layui-btn-normal send-btn">发布需求</button>
            </div>
            <div class="search-list__header-hot">
                <label>热门搜索：</label>
                <span><img src="/images/hot.png" />销售渠道</span>
                <span><img src="/images/hot.png" />优质货源</span>
                <span><img src="/images/hot.png" />推广甲方</span>
                <span>效果渠道</span>
                <span>招商加盟</span>
                <span>资源互换</span>
                <span>流量互换</span>
                <span>采购需求</span>
                <span>线下广告</span>
                <span>实体广告</span>
            </div>
        </div>
    </div>
    <div class="search-list__list">
        <div class="search-list__list-content">
            <div class="search-list__list-header">
                <span class="w200">姓名</span>
                <span class="w250">公司</span>
                <span class="w370">介绍</span>
                <span class="w200">操作</span>
                <span class="f1">发布时间</span>
            </div>
            <div class="search-list__list-table" id="search-list__cont"></div>
        </div>
        <div class="search-list__list-page">
            <div id="search-page"></div>
        </div>
    </div>
</div>
<script src="/data/data.js"></script>
<script>
    $(function () {
        layui.use(['laypage', 'layer'], function () {
            
            var laypage = layui.laypage
                , layer = layui.layer;

            $('#search-input').on('focus',function(){
                $(this).parent('.ipt-box').addClass('ipt-box-active')
            })
            $('#search-input').on('blur',function(){
                $(this).parent('.ipt-box').removeClass('ipt-box-active')
            })
            //循环遍历数组  渲染列表DOM
            ; (function () {
                //获取要渲染的元素
                const el = $('#search-list__cont');
                //定义模板
                let html = data.goodList.map(v => {
                    return `
                <div class="table-box">
                    <div class="table-row">
                        <div class="w200 table-col">
                            <div class="head-portrait">
                                <img class="user-header" src="${v.userImg}" />
                            </div>
                            <div class="user-info">
                                <h3>${v.name}</h3>
                                <div class="user-tag">
                                    ${v.tag.map(tag => {
                        return `<span>${tag}</span>`
                    }).join('')}
                                </div>
                            </div>
                        </div>
                        <div class="w250 table-col">
                            ${v.company}
                        </div>
                        <div class="w370 table-col ellips2">
                            ${v.desc}
                        </div>
                        <div class="w200 table-col">
                            <button type="button" class="layui-btn layui-btn-radius show-btn">查看联系方式</button>
                        </div>
                        <div class="f1 table-col" style="color:#828898;">
                            ${v.sendTime}
                        </div>
                    </div>
                    <div class="table-box--slide">
                        <div class="slide-row">
                            <div class="slide-row--col1">
                                <div class="icon">
                                    <img src="/images/wechat.png" />
                                    <label>微信号：</label>
                                </div>
                                <p>${v.userInfo.wechat}</p>
                            </div>
                            <div class="slide-row--col2">
                                <div class="icon">
                                    <img src="/images/zy.png" />
                                    <label>资源类型：</label>
                                </div>
                                <p>${v.userInfo.zytype}</p>
                            </div>   
                        </div>
                        <div class="slide-row">
                            <div class="slide-row--col1">
                                <div class="icon">
                                    <img src="/images/phone.png" />
                                    <label>手机号：</label>
                                </div>
                                <p>${v.userInfo.phone}</p>
                            </div>
                            <div class="slide-row--col2">
                                <div class="icon">
                                    <img src="/images/accout.png" />
                                    <label>账号类型：</label>
                                </div>
                                <p>${v.userInfo.account}</p>
                            </div>   
                        </div>
                    </div>
                </div>
                `
                }).join('')
                // 清空dom元素 添加模板
                el.empty().append(html)
            })()

            //查看信息按钮事件
            $('.show-btn').click(function () {
                //获取当前点击的盒子DOM
                const el = $(this).closest('.table-box')
                //移除所有的激活项  只激活当前的box
                el.toggleClass('is-expand')
            })

            //初始化页面page
            laypage.render({
                elem: 'search-page',
                prev:'<img src="/images/prev.png" style="width: 14px;"/>',
                next: '<img src="/images/next.png" style="width: 14px;"/>'
                , count: 100
                , layout: ['count', 'prev', 'page', 'next', 'skip']
                , jump: function (obj) {
                    console.log(obj)
                },
                
            });

            setTimeout(()=>{
                $('.search-list').css('display','block')
            },100)
        })
    })
</script>